
/* CONFIGURAÇÕES GERAIS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 10px;
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .links {
  flex: 50%;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}



/* HOME PAGE CSS */

.post {
  width: 40rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  border: 0.1rem solid lightgray;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.post .title {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 0.1rem solid lightgray;
  background-color: dodgerblue;
  color: white;
  font-size: 1.5rem;
}

.post .body {
  flex: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 0.1rem solid lightgray;
  font-size: 1.3rem;
}

.post .footer {
  flex: 20%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  background-color: dodgerblue;
  color:white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50rem;
  height: auto;
  padding: 2rem;
  border: 0.5rem solid dodgerblue;
  border-radius: 0.5rem;
}

.formContainer label {
  font-size: 1.5rem;
}

.formContainer #inputCreatePost {
  height: 4rem;
  margin: 1rem 0 1rem 0;
  border: 0.2rem solid gray;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.formContainer button {
  height: 4rem;
  margin-top: 1.5rem;
  background-color: lightskyblue;
  color:white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}
